{{ define "main" }}
<header>
    <a href="/" style="display: flex; align-items: center; gap: 1rem; color: inherit; text-decoration: none;">
        {{ $icon := resources.Get "app_icon_optimized.png" }} {{ if $icon }} {{
        $resized := $icon.Resize "256x256" }}
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Site.Title }}" />
        {{ end }}
        <h1>{{ .Site.Title }}</h1>
    </a>
</header>

<section class="hero">
    {{ with .Site.GetPage "hero.md" }} {{ .Content }}

    <!--<a href="{{ .Params.cta_link | default "#" }}" class="cta-button">
      {{ .Params.cta_text | default "Download on the App Store" }}
    </a>-->
    {{ end }}
</section>

<section class="changelog">
    <h2>Changelog</h2>
    <div class="changelog-content">
        {{ with .Site.GetPage "changelog.md" }} {{ .Content }} {{ end }}
    </div>
</section>
{{ end }}
